<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{- $image_enable := .Params.visual.image.enable | default .Site.Params.visual.image.enable -}}
    {{- $video_enable := .Params.visual.video.enable | default .Site.Params.visual.video.enable -}}
    {{- if $image_enable -}}

      <div class="split-image">

      </div>

    <!-- Video -->
    {{ else if $video_enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    {{- $wide := and (not $image_enable) (not $video_enable) -}}
    <div class="split-content{{ if $wide }} split-content-wide{{ end }}">
      <div class="split-content-vertically-center">
        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Main -->
        {{ block "main" .  }}
          <!-- Bio -->
          {{ partial "bio" . }}
        {{ end }}

        <!-- Footer -->
        {{ partial "footer" . }}
      </div>
    </div>

  </div>

</body>
</html>
